<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <form action="/login" method="POST">
        <% if (messages.success) { %>
            <section>
                <p>
                    <%= messages.success %>
                </p>
            </section>
            <% } %>
                <% if(messages.error){ %>
                    <section>
                        <p>
                            <%= messages.error %>
                        </p>
                    </section>
                    <% } %>
                        <section>
                            <label for="email">email</label>
                            <input type="email" name="email" id="email" required />
                        </section>
                        <section>
                            <label for="password">password</label>
                            <input type="password" name="password" id="password" required />
                        </section>
                        <section>
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                            <label for="rememberMe">remember me</label>
                        </section>
                        <section>
                            <button type="submit">login</button>
                        </section>
    </form>
</body>

</html>